body, main {
  font-family: Iowan Old Style
}

.box {
    border: 1px solid black;
    width: 100%;
}

.lazy-background {
    background-image: url("../img/cascade-placeholder.jpg"); /* Placeholder image */
    width: 200px;
    height: 200px;
    margin: 1em;
    margin-bottom: 1000px;
  }
  
  .lazy-background.visible {
    background-image: url("../img/cascade.jpg"); /* The final image */
  }