html, body {
    background-color: white;
    font-family: helvetica;
}

h1, h2, h3 {
    color : black;
}

header {
    height: 150px;
}

#title {
    font-size: large;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 1em;    
}

#title h1 {
    color: black;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;   
}

.nav-item {
    border: 1px solid black;
    background-color: rgb(31, 153, 197);
    width: 15%;
    max-height: 70px;
    margin: 0 1em 0 1em;
    text-align: center;
    overflow: hidden;   
}

.nav-item:hover {
    background-color: darkgreen;
    max-height: 1000px;
}

.sub-bar-item:hover {
    background-color: green;
}

footer {
    margin-top: 2em;
    height: 50px;
    text-align: center;
}

.footer-logo {
    font-display: flex;
    justify-content: space-between;    
}