<style>
body {
    position: relative;
}
  
img {
    position: absolute;
    left: 200px;
    top: 100px;
}
</style>
  
  <body>   
      <img onclick="A()" id='inspo' src="a8.jpg">
  
      <button id="left" onclick="moveleft()">left</button>
      <button class="right" onclick="moveright()">right</button>
      <button class="down" onclick="movedown()">down</button>
      <button class="up" onclick="moveup()">up</button>
  
  <script type="text/javascript">
    var KEY = {
        WASD_LEFT:  81,
        WASD_RIGHT: 68,
        WASD_UP:    90,
        WASD_DOWN:  83
    }

    document.onkeydown = function (e) {
        switch (e.keyCode) {
            case KEY.WASD_LEFT:
                console.log('Left');
                moveleft();
                break;
            case KEY.WASD_RIGHT:
                console.log('Right');
                moveright();
                break;
            case KEY.WASD_UP:
                console.log('Up');
                moveup();
                break;
            case KEY.WASD_DOWN:
                console.log('Down');
                movedown();
                break;
            default:
                return; // exit this handler for other keys
        }
    };
  
  function moveleft() {
    const img = document.getElementById('inspo');
    img.style.left = `${img.offsetLeft - 10}px`;
  }
  
  function moveright() {
    const img = document.getElementById('inspo');
    img.style.left = `${img.offsetLeft + 10}px`;
  }
  
  function moveup() {
    const img = document.getElementById('inspo');
    img.style.top = `${img.offsetTop - 10}px`;
  }
  
  function movedown() {
    const img = document.getElementById('inspo');
    img.style.top = `${img.offsetTop + 10}px`;
  }
  
  
  function A() {
    document.getElementById('inspo').style.display = "none";
  }
  </script>
</body>